html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  color: #333;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

p {
  text-align: center;
}

div.main {
  padding-top: 2rem;
  border-radius: 5px;
  background: #eee;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

div.img-dev {
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  width: 98%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h3 {
  text-align: center;
  margin-bottom: 5rem;
}

div.container_3 {
  padding-top: 4rem;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 5rem;
}

li {
  padding: 1rem 0px;
  line-height: 2.3rem;
}

#para1{
  text-align: left;
}
a {
  color: #477ca7;
}
